---  # devices
devices:
  - type: light
    device_key: licht-arbeitszimmer
    caption: Arbeitszimmer
    optimistic: true
    room: Licht
    mqtt:
      template:
        name: shelly_1
        device_id: shelly1-78C53DEA0C2B
    rest:
      template:
        name: shelly_1
        url: http://192.168.9.52
  - type: light
    device_key: licht-arbeitszimmer2
    caption: Arbeitszimmer 2
    optimistic: true
    room: Licht
    mqtt:
      template:
        name: tasmota
        device_id: light_az2
    rest:
      template:
        name: tasmota
        url: http://192.168.9.78
  - type: light
    device_key: licht-wz-led
    caption: Wohnzimmer LED
    optimistic: true
    room: Licht
    mqtt:
      template:
        name: shelly_25_relay_0
        device_id: shellyswitch25-693FEF8DDD4A
    rest:
      template:
        name: shelly_25_relay_0
        url: http://192.168.9.87
    supplemental:
      - field: temperature
        caption: 'Temperatur'
        format: '%.1f'
  - type: light
    device_key: licht-wz-spot
    caption: Wohnzimmer Spot
    optimistic: true
    room: Licht
    mqtt:
      template:
        name: shelly_25_relay_1
        device_id: shellyswitch25-683EFA8DDD4A
    rest:
      template:
        name: shelly_25_relay_1
        url: http://192.168.9.87
    supplemental:
      - field: 'temperature'
        caption: 'Temperatur'
        format: '%.1f'
  - type: socket
    device_key: socket-wz-light
    caption: Stehlampe WZ
    optimistic: true
    room: Licht
    icon: Bulb
    mqtt:
      template:
        name: tasmota
        device_id: socket_wz_light
    rest:
      template:
        name: tasmota
        url: http://192.168.9.91
  - type: light
    device_key: licht-flur-eingang
    caption: Flur Eingang
    room: Licht
    mqtt:
      template:
        name: shelly_1
        device_id: shelly1-683DEA91BCDF
    rest:
      template:
        name: shelly_1
        url: http://192.168.9.79
  - type: light
    device_key: licht-schlafzimmer
    caption: Schlafzimmer
    confirm: true
    room: Licht
    mqtt:
      template:
        name: shelly_1
        device_id: shelly1-483FBA01ADDF
    rest:
      template:
        name: shelly_1
        url: http://192.168.9.80
    authorities:
      - ADMIN
  - type: socket
    device_key: socket-pc-light
    caption: PC Licht
    optimistic: true
    room: Licht
    icon: Bulb
    mqtt:
      template:
        name: tasmota
        device_id: socket_pc_light
    rest:
      template:
        name: tasmota
        url: http://192.168.9.29
    authorities:
      - ADMIN
  - type: socket
    device_key: socket-wz-tv
    caption: Wohnzimer TV
    confirm: true
    optimistic: true
    room: Steckdose
    mqtt:
      template:
        name: tasmota
        device_id: socket_wz_tv
    rest:
      template:
        name: tasmota
        url: http://192.168.9.4
  - type: light
    device_key: az-power
    caption: AZ Strom
    optimistic: true
    confirm: true
    room: Power
    mqtt:
      template:
        name: shelly_1
        device_id: shelly1-4DF5292D2855
    rest:
      template:
        name: shelly_1
        url: http://192.168.9.83
    icon: Power
    authorities:
      - ADMIN
  - type: light
    device_key: kzl-general-power
    caption: KZ links Strom
    optimistic: true
    confirm: true
    room: Power
    mqtt:
      template:
        name: shelly_1
        device_id: shelly1-683FDA9FEE78
    rest:
      template:
        name: shelly_1
        url: http://192.168.9.16
    icon: Power
  - type: light
    device_key: wz-general-power
    caption: Wohnzimmer Strom
    optimistic: true
    confirm: true
    room: Power
    mqtt:
      template:
        name: shelly_1
        device_id: shelly1-E8DB84DD00FA
    rest:
      template:
        name: shelly_1
        url: http://192.168.9.15
    icon: Power
  - type: socket
    device_key: socket-kzl-tv
    caption: KZ links TV
    confirm: true
    optimistic: true
    room: Steckdose
    groups:
      - sockets-kz-links-tv
    mqtt:
      template:
        name: bwshp13
        device_id: socket_kzl_links_tv
    timeout: 300
  - type: socket
    device_key: socket-bwshp13-1
    caption: bwshp13-1
    confirm: true
    optimistic: true
    room: Power
    mqtt:
      template:
        name: bwshp13
        device_id: socket_bwshp13_1
    timeout: 300
  - type: socket
    device_key: socket-bwshp13-2
    caption: bwshp13-2
    confirm: true
    optimistic: true
    room: Power
    mqtt:
      template:
        name: bwshp13
        device_id: socket_bwshp13_2
    timeout: 300
  - type: socket
    device_key: socket-bwshp13-3
    caption: bwshp13-3
    confirm: true
    optimistic: true
    room: Power
    mqtt:
      template:
        name: bwshp13
        device_id: socket_bwshp13_3
    timeout: 300
  - type: socket
    device_key: socket-printer
    caption: Drucker
    confirm: true
    optimistic: true
    room: Steckdose
    mqtt:
      template:
        name: tasmota
        device_id: socket_printer
    rest:
      template:
        name: tasmota
        url: http://192.168.9.66
  - type: socket
    device_key: socket-washer
    caption: Waschmaschine
    confirm: true
    optimistic: true
    room: Steckdose
    mqtt:
      template:
        name: tasmota
        device_id: socket_washer
    rest:
      template:
        name: tasmota
        url: http://192.168.9.61
    authorities:
      - ADMIN
  - type: socket
    device_key: socket-ender
    caption: Ender 3
    confirm: true
    optimistic: true
    room: Steckdose
    mqtt:
      template:
        name: tasmota
        device_id: socket_ender
    rest:
      template:
        name: tasmota
        url: http://192.168.9.92
  - type: roller-shutter
    device_key: markise-terasse
    caption: Markise
    optimistic: true
    invert:
      position: true
      state_color: false
    confirm: true
    mqtt:
      template:
        name: shelly_25_roller
        device_id: shellyswitch25-84DDA8B055DE
    rest:
      template:
        name: shelly_25_roller
        url: http://192.168.9.81
    supplemental:
      - field: 'temperature'
        caption: 'Temperatur'
        format: '%.1f'
  - type: sensor
    device_key: kontakt-haustuer
    caption: Haustür
    mqtt:
      listen_topics:
        - topic: z2m/contact_door
          handler_template: snzb04
      status_topic: z2m/contact_door
      status_payload: {"status":""}
    expanded: true
    supplemental:
      - field: 'battery'
        caption: 'Batterie'
        format: '%s'
      - field: 'battery_low'
        caption: 'Batterie Status'
        renderer: 'battery-low'
      - field: 'voltage'
        caption: 'Voltage'
        format: '%.0f'
    timeout: -1
  - type: temperature
    device_key: outdoor-temp
    caption: Aussen Temp.
    room: Heizung
    mqtt:
      template:
        name: tasmota_temp_farm
        device_id: temp_outdoor
    rest:
      template:
        name: tasmota_temp_farm
        url: http://192.168.9.6
    expanded: true
    icon: 'dht22'
    supplemental:
      - field: 'dht22'
        caption: 'Temperatur'
        format: '%.1f'
      - field: 'ds18b20'
        caption: 'Temperatur'
        format: '%.1f'
      - field: 'humidity'
        caption: 'Feuchtigkeit'
        format: '%.1f'
      - field: 'dewpoint'
        caption: 'Taupunkt'
        format: '%.1f'
    timeout: -1
  - type: temperature
    device_key: sensor_temp_wz
    caption: Temp. Wohn Z.
    room: Heizung
    mqtt:
      template:
        name: snzb02
        device_id: temp_wz
        _device_id: sensor_temp_wz
    expanded: true
    icon: temperature
    supplemental:
      - field: 'temperature'
        caption: 'Temperatur'
        format: '%.1f'
      - field: 'humidity'
        caption: 'Feuchtigkeit'
        format: '%.1f'
      - field: 'battery'
        caption: 'Batterie'
        format: '%.1f'
      - field: 'voltage'
        caption: 'Voltage'
        format: '%.1f'
    timeout: -1
  - type: temperature
    device_key: sensor_temp_az
    caption: Temp. Arb. Z.
    room: Heizung
    mqtt:
      template:
        name: snzb02
        device_id: temp_az
        _device_id: sensor_temp_az
    expanded: true
    icon: temperature
    supplemental:
      - field: 'temperature'
        caption: 'Temperatur'
        format: '%.1f'
      - field: 'humidity'
        caption: 'Feuchtigkeit'
        format: '%.1f'
      - field: 'battery'
        caption: 'Batterie'
        format: '%.1f'
      - field: 'voltage'
        caption: 'Voltage'
        format: '%.1f'
    timeout: -1
  - type: temperature
    device_key: sensor_temp_heizz
    caption: Temp. Heiz. Z.
    room: Heizung
    mqtt:
      template:
        name: snzb02
        device_id: temp_heizz
        _device_id: temp_heizz
    expanded: true
    icon: temperature
    supplemental:
      - field: 'temperature'
        caption: 'Temperatur'
        format: '%.1f'
      - field: 'humidity'
        caption: 'Feuchtigkeit'
        format: '%.1f'
      - field: 'battery'
        caption: 'Batterie'
        format: '%.1f'
      - field: 'voltage'
        caption: 'Voltage'
        format: '%.1f'
    timeout: -1
  - type: temperature
    device_key: sensor_temp_sz
    caption: Temp. Schl. Z.
    room: Heizung
    mqtt:
      template:
        name: snzb02
        device_id: temp_sz
        _device_id: temp_sz
    expanded: true
    icon: temperature
    supplemental:
      - field: 'temperature'
        caption: 'Temperatur'
        format: '%.1f'
      - field: 'humidity'
        caption: 'Feuchtigkeit'
        format: '%.1f'
      - field: 'battery'
        caption: 'Batterie'
        format: '%.1f'
      - field: 'voltage'
        caption: 'Voltage'
        format: '%.1f'
    timeout: -1
  - type: temperature
    device_key: sensor_temp_kz
    caption: Temp. Kinder Z.
    room: Heizung
    mqtt:
      template:
        name: snzb02
        device_id: temp_kz
        _device_id: temp_kz
    expanded: true
    icon: temperature
    supplemental:
      - field: 'temperature'
        caption: 'Temperatur'
        format: '%.1f'
      - field: 'humidity'
        caption: 'Feuchtigkeit'
        format: '%.1f'
      - field: 'battery'
        caption: 'Batterie'
        format: '%.1f'
      - field: 'voltage'
        caption: 'Voltage'
        format: '%.1f'
    timeout: -1
  - type: temperature
    device_key: sensor_temp_kuche
    caption: Temp. Kü?che
    room: Heizung
    mqtt:
      template:
        name: snzb02
        device_id: temp_kueche
        _device_id: temp_kueche
    expanded: true
    icon: temperature
    supplemental:
      - field: 'temperature'
        caption: 'Temperatur'
        format: '%.1f'
      - field: 'humidity'
        caption: 'Feuchtigkeit'
        format: '%.1f'
      - field: 'battery'
        caption: 'Batterie'
        format: '%.1f'
      - field: 'voltage'
        caption: 'Voltage'
        format: '%.1f'
    timeout: -1
  - type: thermostat
    device_key: heizung-arbeitszimmer
    caption: Arbeitszimmer
    room: Heizung
    mqtt:
      template:
        name: hm_thermostat
        device_id: HeizungArbeitszimmer_ClimRT_tr
    timeout: 1800
  - type: thermostat
    device_key: heizung-kinderzimmer
    caption: Kinderzimmer
    room: Heizung
    mqtt:
      template:
        name: hm_thermostat
        device_id: HeizungKinderzimmer_ClimRT_tr
    timeout: 1800
  - type: thermostat
    device_key: heizung-schlafzimmer
    caption: Schlafzimmer
    room: Heizung
    mqtt:
      template:
        name: hm_thermostat
        device_id: HeizungSchlafzimmer_ClimRT_tr
    timeout: 1800
    authorities:
      - ADMIN
  - type: sensor
    device_key: silver-temperature
    caption: Silver Temperatur
    mqtt:
      template:
        name: tasmota_am2301
        device_id: sensor_silver
    rest:
      template:
        name: tasmota_am2301
        url: http://192.168.9.85
    expanded: true
    icon: Thermometer
    supplemental:
      - field: 'temperature'
        caption: 'Temperatur'
        format: '%.1f'
      - field: 'humidity'
        caption: 'Feuchtigkeit'
        format: '%.1f'
      - field: 'dewpoint'
        caption: 'Taupunkt'
        format: '%.1f'
    timeout: -1
  - type: sensor
    device_key: btn_wz
    caption: Button WZ
    mqtt:
      template:
        name: wxkg01lm
        device_id: btn_wz
    icon: Button
    timeout: -1
  - type: sensor
    device_key: button-2
    caption: Button 2
    mqtt:
      template:
        name: wxkg01lm
        device_id: btn-2
    icon: Button
    timeout: -1
  - type: sensor
    device_key: btn_pc
    caption: Button PC
    mqtt:
      template:
        name: wxkg01lm
        device_id: btn_pc
    icon: Button
    timeout: -1
